*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/web-service-lw-lims-client/labware-weblims-authenticate-client/target/
/web-service-lw-lims-client/labware-weblims-close-client/target/
/web-service-lw-lims-client/REPORTSBEAN-client/target/
/web-service-lw-lims-client/web-service-lw-lims-client-jar/target/
